<ion-header>
  <ion-toolbar>
    <ion-title>
      Lista Compra
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="none">
    <ion-item *ngFor="let item of items; let i = index" lines="none">
      <ion-input [(ngModel)]="item.text" [disabled]="!item.editMode"></ion-input>
      <ion-checkbox slot="start" [(ngModel)]="item.checked"></ion-checkbox>
      <ion-icon slot="end" name="trash" (click)="removeItem(i)"></ion-icon>
      <ion-icon slot="end" name="create" (click)="toggleEditMode(item)"></ion-icon>
    </ion-item>
  </ion-list>

  <ion-button expand="block" (click)="addItem()">Add Item</ion-button>
</ion-content>
